/* common design */
a{
    text-decoration: none;
}
.allHeadlines{
    color: rgb(21, 76, 121);
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 10px;
} 
ul li{
    list-style-type: none;
}
/* header and nav bar style */
header{
    display: flex;
    margin: 20px;
}
header h1{
    width: 50%;
    float: left;
    justify-content: center;
    margin-left: 20px;
    
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.category{
    text-align: center;
    padding: 10px;
    background-color: rgb(140, 140, 231);
}
.category ul li{
 list-style: none;
 margin-right: 50px;
 margin-top: 20px;
 display: inline;
}

/* -----------index page designs---------- */

.fa-check{
    font-size: 100px;
    color: rgb(21, 76, 121);
    display: flex;
    justify-content: center;
}
.about-service{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 3px;
}
.band-img{
    height: 100px;
    width: 100px;
    margin: 5px;
}
.band-name{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin: 50px;
    padding: 3px;
}
/* ---------------sign-up page----------------- */
.sign-up-btn{
    margin-top: 20px;
    background-color: rgb(21, 76, 121);
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}


/* --------------sign-in page----------------*/
.login-form{
    background-color: rgb(240, 237, 233);
    padding: 20px;
}
.fa-circle-user{
 font-size: 100px;
}
.login-form input{ 
    width: 80%;
    height: 50px;
    margin-left: 55px;
    border: 0;
}
.login-form input:hover{
    border: 2px solid rgb(21, 76, 121);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.login-form a{
    text-decoration: none;
}
.sign-in-btn{
    background-color: rgb(21, 76, 121);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    width: 35%;
    color: white;
}
.create-account-btn{
    background-color: rgb(43, 141, 43);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
}
.create-account-btn a{
    color: white;
}
.login-form button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/* --------------contact page----------------*/
.contact-img{
    width: 100%;
}
.fa-heart{
    font-size: 20px;
}
/* ---------Item card----------*/
/* .item-card{
    height: auto;
    width: 400px;
    padding: 5px;
    background-color: rgb(238, 234, 229);
    box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.2);
}
.item-btn{
    width: 100%;
}
.buy-now-btn{
border: 2px solid rgb(21, 76, 121);
color: rgb(21, 76, 121);
width: 50%;

}
.add-cart-btn{
background-color: rgb(21, 76, 121);
color: white;
width: 50%;
border: 2px solid rgb(21, 76, 121);
}
.buy-now-btn:hover{
    background-color: rgb(21, 76, 121);
    color: white;
} */
.item_card_group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 270px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: rgb(21, 76, 121);
    font-size: 25px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

/* Footer */
footer{
    height: 250px;
    background-color: rgb(21, 76, 121);
    padding: 10px;
}
footer ul li a{
    color: white;
}
footer section div h5{
    color: white;
    margin-left: 35px;
}
.fa-square-facebook, .fa-instagram, .fa-linkedin, .fa-whatsapp{
    font-size: 50px;
    padding: 5px;
}
footer div ul li a:hover{
   font-weight: bold;
}
footer div ul li a i:hover{
    color: rgb(21, 76, 121);
    background-color: white;
}
